{#
/**
 * @file competitor.html.twig
 * Default theme implementation to present Competitor data.
 *
 * This template is used when viewing Competitor pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_competitor()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('competitor') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
